*{
	margin:0;
	padding:0;
}
body{
	background:#F0FFF0;
}
.navbar{
  width:100%;
  background-image: linear-gradient(to right, rgb(245, 217, 212),rgb(68, 131, 226));
  opacity: .8;
}
.navbar li a
{
  color: white !important;
}
.navbar li a:hover
{
  color: black !important;
}
 .dropdown-toggle{
    color:white;
  }
/*Instruction*/
 .step-booking{
   float:left;
   margin-left:5%;
   font-family: Arial, Helvetica, sans-serif;
   text-align: justify;
   font-size: 20px;
   margin-top:1%;
 }
 .step-booking a{
   padding-right:10px;
 }
 /*Search*/
.search{
	float:right;
	margin-top:2%;
	margin-right:6%;
}
/*View seat*/
.view-seat{
	width:90%;
	margin-top:5%;
	transform: translate(5%,5%);
}
.card{
	border-radius:10px;
}
.info-bus label{
	color:blue;
	font-size:16px;
	font-weight:bold;
}
h5{
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight:bold;
	color:rgba(212, 39, 39, 0.801);
}
.form-check{
	margin-bottom:2%;
	margin-left:10%;
}
.btn-close{
	float:right;
}
.btn-submit{
	float:right;
	margin-right:2%;
}
.checkbox1{ 
	Color:#00CD00;
	font-weight:bold;
}

.checkbox2{ 
	Color:#8B8B7A;
	font-weight:bold;
}

.checkbox3{ 
        Color:#EE2C2C;
	font-weight:bold;
}
.btn-seat{
	boder:1px solid white;
	border-radius:10px;
	margin:0 1% 2% 1%;
	padding:5px 5px 5px 5px;
	background:#777777;
	color:white;
	text-align:center;
}
.active{
	background-color:#EE2C2C;
}

.available{
    background-color: #00CD00;
}
