body{
    background-image: url("../images/bgl.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
html{
    height: 100%; 
    width: 100%;
}
.main-section{
    margin: 0;
    margin-top: -30px;
    padding: 0;
}
.modal-content{
    background-color: #D8D8D8;
    opacity: .8;
    padding: 30px 40px;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}
.modal-content h2{
    text-align: center;
    color: black;
    margin-bottom: 10%;
}
.form-input button 
{
    width: 50%;
}
.user-img {
    margin-top: -120px;
    margin-bottom: 30px;
}
.navbar a{
  color: black
}
.navbar{
    background-image: linear-gradient(to right, rgb(245, 217, 212),rgb(68, 131, 226));
    opacity: .8;
  }
.modal-dialog{
    margin-top: 15%;
}