@media (max-width:768px)
{
      .carousel-caption{
        top: 10%;
      }
      .carousel-caption h1
      {
        margin-top: -60px;
        font-size: 300%;
      }
      .carousel-caption .btn{
        font-size: 95%;
        margin-top: 10px;
      }
      .carousel{
        margin-bottom: 4rem;
      }
}
@media (max-width:576px) 
{
  .carousel-caption{
    top: 10%;
  }
  .carousel-caption h1
  {
    margin-top: -60px;
    font-size: 30%;
  }
  .carousel-caption .btn{
    font-size: 95%;
    margin-top: 10px;
  }
  .carousel{
    margin-bottom: 4rem;
  }
}
.navbar{
  background-image: linear-gradient(to right, rgb(245, 217, 212),rgb(68, 131, 226));
  opacity: .8;
}
.navbar li a
{
  color: black !important;
}
.navbar li a:hover
{
  color: white !important;
}
.carousel-inner img
{
  width: 100%;
}
.carousel-caption
{
  position: absolute;
  top: 30%;
}
.carousel-caption h1
{
  font-size: 300%;
  text-shadow: 5px 5px 15px #000000;
}
.carousel{
  margin-bottom: 4rem;
}
.welcom hr{
  border-top: 1px solid black;
  width: 95%;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
.form-header h2{
    font-family: "Alegreya", serif;
    color: #663c14;
    display: inline-block;
}
.booking-form{
  background: #517fa4;
  box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.3);
  border: 1px solid rgba(60, 64, 101, 0.1);
  width: 115%;
}
.booking-form h2{
  margin-top: 1.5rem;
}
.submit-btn{
  background: #9a8067;
  color: #fff;
  display: block;
  border:none;
  font-weight: 400;
  margin: -1em;
  height: 4em;
  width: 100%;
}
.form-header{
  text-align: center;
}
.form-btn{
  padding: 7px 0px 30px 30px;
}
.hrb{
  border-top: 1px solid black;
  width: 95%;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
.row2 {
  margin-top: 3rem;
}
.Des
{
  margin-bottom: 4rem;
}
.Des h1{
  font-size: 350%;
}
.badge
{
  background-color: #ddff00;
  color: #b2aad2;
  font-size: 100%;
}
.fa-bus{
  color:green;
}
.fa-map-marker-alt{
  color:green;
}
.fa-phone-square {
  color:green;
}
.ides {
  font-size: 1em;
}
.ides a{
  float: right;
  font-size: 1.5em;
  margin-bottom: 6em;
}
.ides img{
  height: 50%;
  width: 100%;
  margin-bottom: 1em;
}
.hrdes{
  border-top: 1px solid black;
  width: 100%;
  margin-bottom: 4rem;
  margin-top: 2rem;
}
.ser h1{
  font-size: 350%;
  margin-bottom: 4rem;
}
.social a{
  font-size: 3em;
  padding: 3rem;
}
.fa-facebook{
  color: blue;
}
.fa-youtube {
  color: red;
}
.fa-instagram {
  color:#517fa4;
}
.fa-google-plus-g {
  color:#dd4b39;
}
footer{
  background-color: #3f3f3f;
  color: aliceblue;
  margin-top: 5rem;
  height: 15rem;
}
.ft i{
  color: white;
  font-size: 30px;
}
.ft img{
  height: 50%;
  width: 40%;
  margin-top: 3%;
}
.hl{
  font-style: italic;
}
.drd i{
  margin-right: 3px;
}
