.d-flex.justify-content-center.footer.bg-light {
  background-color: rgba(47,23,15,.9);
}

.div-application {
  margin: auto;
  /*max-width: 1150px;*/
  position: relative;
  z-index: 2;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.row.header-row {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  max-width: 1150px;
  z-index: 2;
}

.div-cover-application {
  position: absolute;
}

.div-container {
  position: relative;
  padding-top: 100px;
}

.section-body {
}

div .container-fluid {
  padding-top: 100px;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row.row-body {
  max-width: 1340px;
}

.page-footer.dark {
  background-color: #006c84;
  /*text-align: left;*/
  padding-top: 40px;
}

.footer-copyright {
  color: #ccc;
  margin: 10px;
  text-align: center;
}

.row.row-filter {
  max-width: 70%;
  align-content: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.div-filter {
  justify-content: center;
  display: block;
}

.btn.btn-primary.button-serach {
  display: flex;
  position: absolute;
}

.btn.btn-primary.button-serach {
  position: absolute;
}

.form-row.search-bar {
  background-color: #fff;
  border-radius: 20px;
}

.form-control {
  border-color: #ffffff;
}

.btn.btn-primary.btn-search {
  background-color: #fff;
  border-color: #fff;
}

.fa.fa-search {
  color: rgb(0,0,0);
}

.col-md-3.mx-auto.btn-signup {
  margin: 20px;
}

.card.d-xl-flex.index-card {
  max-width: 400px;
  border-radius: 20px;
}

.text-input-search {
  border-style: none;
}

.btn.btn-primary.btn-search {
  background-color: #ffffff;
  box-shadow: 0 0 0 0 #ffffff;
  border-color: #ffffff;
}

.btn.btn-primary.btn-search:hover {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.btn.btn-primary.btn-search:focus {
  box-shadow: 0 0 0 0 #ffffff!important;
}

.card.index-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.02);
}

.presenter-card:hover {
  transform: scale(1.02);
  box-shadow: 2px 3px 2px -2px rgba(0,0,0,0.1),-2px 3px 2px -2px rgba(0,0,0,0.1);
}

.div-recently:hover {
  transform: scale(1.02);
}

.div-recently {
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.nav-tabs .nav-before::before {
  content: "« ";
}

.div-heading-contain {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
  position: relative;
}

.div-sponsor::before {
  transform: skewY(-4deg);
  content: "";
  left: 50%;
  right: 0%;
  bottom: -50px;
  height: 130px;
  position: absolute;
  background: rgba(30,32,37,0.5);
  z-index: 0;
}

.div-application::before {
  right: 50%;
  left: 0%;
  transform: skewY(-4deg);
  content: "";
  position: absolute;
  top: 50px;
  background: linear-gradient(to bottom,#D9DBE0,#ECEDEF 25%,#46839a);
  bottom: 0;
  z-index: 0;
}

.div-sponsor::after {
  transform: skewY(4deg);
  content: "";
  left: 0%;
  right: 50%;
  bottom: -50px;
  height: 130px;
  position: absolute;
  background: rgba(30,32,37,0.5);
  z-index: 0;
  /*top: 0px;*/
}

.div-application::after {
  right: 0%;
  left: 50%;
  transform: skewY(4deg);
  content: "";
  position: absolute;
  top: 50px;
  background: linear-gradient(to bottom,#D9DBE0,#ECEDEF 25%,#46839a);
  bottom: 0px;
  z-index: 0;
  /*transform: skewY(4deg);*/
  /*content: "";*/
  /*left: 50%;*/
  /*right: -30%;*/
  /*bottom: -50px;*/
  /*height: 130px;*/
  /*position: absolute;*/
  /*background: rgba(30,32,37,0.5);*/
  /*z-index: 0;*/
}

.scholarship {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid#dad9d6;
}

.card-scholarship-header {
  color: #53a63a;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}

.card-scholarship-sponsor {
  background: white;
  border-radius: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0 1px 4px, rgba(0, 0, 0, 0.0980392) 0 0 2px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0 1px 4px,rgba(0, 0, 0, 0.0980392) 0 0 2px;
  margin: 15px auto;
  max-width: 800px;
  overflow: hidden;
  position: relative;
  padding: 15px;
  max-width: 1000px;
  border-radius: 30px;
}

.card.d-xl-flex:hover {
  transform: scale(1.02);
}

.card.d-xl-flex {
  /*border-radius: 30px;*/
  box-shadow: 0 1px 8px 2px rgba(0,0,0,0.1),0 1px 1px 0 rgba(0,0,0,.07),0 2px 1px -1px rgba(0,0,0,.06);
}

.text-area-adjust {
  width: 100%;
  min-height: 150px;
}

.nav-item {
  padding-left: 5px;
}

.underlined {
  position: relative;
  margin-bottom: 10px;
  display: block;
  font-size: 15px;
  color: #5B6270;
  display: block;
  box-sizing: border-box;
}

.underlined::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 30px;
  background: #D9DBE0;
  border-radius: 3px;
  height: 2px;
}

.fast-fact-item {
  position: relative;
  padding: 0 35px 0 50px;
  box-sizing: border-box;
  margin: 15px 0px;
}

.fast-fact-button {
  min-width: 230px;
  text-align: right;
  padding: 20px 20px 20px 0;
  box-sizing: border-box;
}

.fast-fact-content {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  /*flex-direction: row;*/
  width: 100%;
  background: #FFF;
  border-radius: 0 0 3px 3px;
  position: relative;
}

.presenter-card {
  box-shadow: 2px 3px 2px -2px rgba(0,0,0,0.1),-2px 3px 2px -2px rgba(0,0,0,0.1);
}

.container.sharing-container {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;
}

#handboook-side-menu {
  list-style: none;
  padding-top: 20px;
  max-width: 225px;
  /*margin-right: 60px;*/
  margin-left: 0;
  padding-left: 0;
  text-align: right;
  position: relative;
}

.active {
  color: #2D3138;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  line-height: 1.5;
  text-align: right;
}

#handboook-side-menu::before {
  content: "";
  background: rgba(255,255,255,0.16);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  border-radius: 3px;
}

.recommended-content {
  border-top: 2px solid rgba(255,255,255,0.57);
  padding: 20px 0px;
  max-width: 1150px;
  margin: auto;
  margin-top: 50px;
  padding-top: 50px;
}

.filter-component {
  list-style: none;
}

.handbook-filter {
  /*border-right: 2px solid#ECEDEF;*/
  display: inline-flex;
}

.div-footer {
  background-color: #ffffff;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  margin-top: 50px;
  border: 1px solid rgb(0,108,132);
}

.icon-footer {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  border-radius: 100%;
  text-align: center;
  margin-left: 20px;
  background-color: #fff;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-scholarship-content {
  list-style-type: none;
  display: flex;
  padding-left: 0px;
  width: 100%;
  margin-bottom: 0px;
}

@media (max-width:768px) {
  .scholarship-detail-heading {
    font-size: 50px!important;
  }
}

@media (max-width:768px) {
  .index-heading {
    font-size: 40px!important;
  }
}

@media (max-width:768px) {
  .name-portfolio {
    font-size: 20px!important;
  }
}

@media (max-width:768px) {
  .filter-scholarship {
    width: 100%!important;
  }
}

@media (min-width:768px) {
  .scholarship-list-content {
    display: flex;
  }
}

@media (max-width:768px) {
  .company-heading {
    font-size: 80px!important;
  }
}

@media (min-width:768px) {
  .education-col {
    display: flex;
  }
}

@media (max-width:600px) {
  .two-column-edit {
    display: block;
  }
}

@media (max-width:600px) {
  .card-presenter {
    margin-left: 0px!important;
    margin-right: 0px!important;
    width: 100%;
  }
}

@media (min-width:600px) {
  .card-presenter {
    width: 75%;
  }
}

@media (max-width:600px) {
  .div-card-presenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.person-type::hover {
  transform: scale(1.5);
  box-shadow: 2px 3px 2px -2px rgba(0,0,0,0.1),-2px 3px 2px -2px rgba(0,0,0,0.1);
}

.col.d-flex.flex-column.align-items-center.col-md-6.person-type::hover {
  transform: scale(1.02);
  box-shadow: 2px 3px 2px -2px rgba(0,0,0,0.1),-2px 3px 2px -2px rgba(0,0,0,0.1);
}

